<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
      
    <!-- Custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/VCUI">EasyVC</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">           
                <li class="active"><a href="http://127.0.0.1:8000/VCUI">Home</a></li>
                <li><a href="http://127.0.0.1:8000/VCUI">VC</a></li>
                <li><a href="http://127.0.0.1:8000/startupUI">Startup</a></li>
            </ul>
            
            <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.session.user }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/editVC">Edit Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="http://127.0.0.1:8000/signout">Logout</a></li>
                </ul>
                </li>
            </ul>       
        </div>
      </div>
    </div>
    
    <div class='col-md-8 col-md-offset-2'>
        <div class="jumbotron">
            <table id="edit" class="table table-striped">
                <tr>
                    <td class="yahei fs18 fwb">First Name</td>
                    <td>{{user.firstName}}</td>
                    <td>
                      <button type="button" id="editFirstName" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Last Name</td>
                    <td>{{user.lastName}}</td>
                    <td>
                      <button type="button" id="editLastName" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Position</td>
                    <td>{{user.position}}</td>
                    <td>
                      <button type="button" id="editPosition" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Location</td>
                    <td>{{user.location}}</td>
                    <td>
                      <button type="button" id="editLocation" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Industry</td>
                    <td>{% for industry in user.industry %} {{ industry }} | {% endfor %}</td>
                    <td>
                      <button type="button" id="editIndustry" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Investment Amount</td>
                    <td>{% if user.amount == 10000%} Under $10,000
                        {% elif user.amount == 50000%} $10,000-$50,000
                        {% elif user.amount == 100000%} $50,000-$100,000
                        {% elif user.amount == 500000%} $100,000-$500,000
                        {% elif user.amount == 1000000%} $500,000-$1000,000
                        {% elif user.amount == 5000000%} $1000,000-$5000,000
                        {% elif user.amount == 10000000%} $5000,000 & Above
                        {% endif %}
                    </td>
                    <td>
                      <button type="button" id="editAmount" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
                <tr>
                    <td class="yahei fs18 fwb">Introduction</td>
                    <td>{{user.introduction}}</td>
                    <td>
                      <button type="button" id="editIntroduction" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                      </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
  
  
  <script type="text/javascript">
    $(document).ready(function(){
      $("#editFirstName").click(function(){
        var html = ['<form method="POST" id="edit_firstname_form" action="http://127.0.0.1:8000/VCEditUpdate/">',
                    '<td class=\"yahei fs18 fwb\">First Name</td>',
                    '<td><input type="text" name="firstName" class="form-control" placeholder="Enter user name"></td>',
                    '<td><button type="submit" id="updateFirstName" class="btn btn-success">Update</button></td>',
                    '</form>','<td><button type="button" id="cancelFirstname" class="btn btn-danger">Cancel</button></td>'].join('');
        
        $(this).parent().html(html);
        $("#edit_firstname_form").submit(function(e){
          // prevent form submit directly
	  e.preventDefault();
          // get form data
          var self = $(this);
          var url = self.attr('action');
          var formdata = self.serialize();
          // post data
          $.post(url, formdata, function(data){
            //handle response
            
          }, 'json');
        });   
      });
    });
  </script>
</html>



